.crypy_lg{
    width: 101px;
}
.crypy_lgo{
    width: 125px;
    padding-left: 10px;
    padding-right: 10px
}
.crypy_olg{
    width: 97px;
    padding-left: 6px;
    padding-right: 6px
}
.head_center{
    text-align: center;
    background-color: #000;
    color: white;
    padding-top: 43px;
    padding-bottom: 40px;
}