.box_two{
    background-color: rgb(62, 60, 60);
    padding: 15px;
}
.txt{
    list-style: none;
    display: flex;
}
.bit_im{
    height: 20px;
    margin-block: none;
}
.sub_txt{
    padding-right: 25px;
    padding-left: 10px;
}
.coin_img{
    height: 27px;
}